<h1>Agregar Autor</h1>

<form action="/api/authors" method="POST">
    <input type="text" name="name" placeholder="Nombre" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="number" name="age" placeholder="Edad" required>
    <button type="submit">Registrar Autor</button>
</form>