<h1>Agregar Libro</h1>

<form action="/api/books" method="POST">
    <input type="text" name="title" placeholder="Titulo" required>
    <input type="text" name="genere" placeholder="Genero" required>
    <input type="file" name="thumbnail" required>
    <input type="number" name="authorId" placeholder="ID del Autor" required>
    <button type="submit">Registrar Libro Libro</button>
</form>