<h1>Bienvenido a la Libreria</h1>

<nav>
    <ul>
        <li><a href="/api/books/view">Ver Libros</a></li>
        <li><a href="/api/authors/view">Ver Autores</a></li>
        <li><a href="/add-book">Agregar Libro</a></li>
        <li><a href="/add-author">Agregar Autor</a></li>
    </ul>
</nav>